/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2024. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@use "sass:map";
@use 'themeMap.module.scss';

// To-Do: Must update the below colors with the latest values from the Enchanted palette, ask UIUX
/* start - colors not found in enchanted palette */
$outline-color: #0029A9;
$avatar-border-color: #BBBBBB;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$tag-cloud-background: rgba(237, 237, 237);
/* end - colors not found in enchanted palette */

@function clr($mode, $type, $property) {
  $color: map.get(map.get(map.get(themeMap.$enchantedTheme, $mode), $type), $property);
  @return $color;
}
