/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2024. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

:root {
  --font-family: Inter, sans-serif;
  --primary-color: $HCLSOFTWAREBLUE06;
}

/* typography mixins */
@mixin font-default {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

@mixin h1 {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 0px;
}

@mixin h2 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0px;
}

@mixin h3 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  letter-spacing: 0px;
}

@mixin h4 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
}

@mixin h5 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0px;
}

@mixin h6 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

@mixin subtitle1 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}

@mixin subtitle2 {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

@mixin body1 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}

@mixin body1bold {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
}

@mixin body1italic {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0px;
  font-style: italic;
}

@mixin body2 {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

@mixin body2bold {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

@mixin body2italic {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  font-style: italic;
}

@mixin button {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
}

@mixin caption {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0px;
}

@mixin overline {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0px;
}
