@use "sass:map";
@use "../../common/themeMap.module";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2024. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-anchor-base-styles {
  &::part(result-title) {
    display: flex;
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
    font-weight: 700;
  }
  
}
