@use "sass:map";
@use "../../common/palette";
@use "../../common/themeMap.module";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2025. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-alert-base-styles {
  &::part(alert-div-root) {
    display: flex;
    flex-direction: row;
    opacity: 1;
    transform: none;
    transition: opacity 228ms cubic-bezier(0.4, 0, 0.2, 1), transform 152ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: 0px 0px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 4px;
    outline: 0px;
    padding: 4px 8px;
    align-items: center;
  }

  &::part(alert-contained-success) {
    border: 1px solid map.get(themeMap.$enchantedPalette, GREEN800);
    color: map.get(themeMap.$enchantedPalette, GREEN800);
    background-color: palette.clr(light, background, success);
  }

  &::part(alert-outlined-success) {
    border: 1px solid map.get(themeMap.$enchantedPalette, GREEN800);
    color: map.get(themeMap.$enchantedPalette, GREEN800);
    background-color: palette.clr(light, background, paper);
  }

  &::part(alert-contained-warning) {
    border: 1px solid map.get(themeMap.$enchantedPalette, ORANGE800);
    color: map.get(themeMap.$enchantedPalette, ORANGE800);
    background-color: palette.clr(light, background, warning);
  }

  &::part(alert-outlined-warning) {
    border: 1px solid map.get(themeMap.$enchantedPalette, ORANGE800);
    color: map.get(themeMap.$enchantedPalette, ORANGE800);
    background-color: palette.clr(light, background, paper);
  }

  &::part(alert-contained-info) {
    border: 1px solid map.get(themeMap.$enchantedPalette, BLUE800);
    color: map.get(themeMap.$enchantedPalette, BLUE800);
    background-color: palette.clr(light, background, info);
  }

  &::part(alert-outlined-info) {
    border: 1px solid map.get(themeMap.$enchantedPalette, BLUE800);
    color: map.get(themeMap.$enchantedPalette, BLUE800);
    background-color: palette.clr(light, background, paper);
  }

  &::part(alert-contained-error) {
    border: 1px solid map.get(themeMap.$enchantedPalette, RED800);
    color: map.get(themeMap.$enchantedPalette, RED800);
    background-color: palette.clr(light, background, error);
  }

  &::part(alert-outlined-error) {
    border: 1px solid map.get(themeMap.$enchantedPalette, RED800);
    color: map.get(themeMap.$enchantedPalette, RED800);
    background-color: palette.clr(light, background, paper);
  }

  &::part(alert-svg-success) {
    fill: map.get(themeMap.$enchantedPalette, GREEN800);
    margin-right: 8px;
  }

  &::part(alert-svg-error) {
    fill: map.get(themeMap.$enchantedPalette, RED800);
    margin-right: 8px;
  }

  &::part(alert-svg-warning) {
    fill: map.get(themeMap.$enchantedPalette, ORANGE800);
    margin-right: 8px;
  }

  &::part(alert-svg-info) {
    fill: map.get(themeMap.$enchantedPalette, BLUE800);
    margin-right: 8px;
  }
}
