@use "sass:map";
@use "../../common/palette";
@use "../../common/themeMap.module";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2024. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

/* for dx-enchanted-badge */
@mixin dx-badge-base-styles {
  &::part(badge_text) {
    background-color: palette.clr(light, background, warning);
    border: 2px solid palette.clr(light, background, paper);
    border-radius: 64px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 0px 0px 0px 1px palette.clr(light, background, paper);
    color: palette.clr(light, background, paper);
    font: bold 15px/13px Inter, sans-serif;
    height: 18px; 
    min-width: 20px;
    margin: -10px 0px 0px -12px;
    text-align: center;
    padding: 2px;
  }
  
  &::part(badge_dot) {
    background-color: map.get(themeMap.$enchantedPalette, BLUE700);
    border: 2px solid palette.clr(light, background, paper);
    border-radius: 10px; /* one half of ( (border * 2) + height + padding ) */
    box-shadow: 0px 0px 0px 1px palette.clr(light, background, paper);
    color: palette.clr(light, background, paper);
    font: bold 13px Inter, sans-serif;
    height: 18px; 
    width: 18px;
    margin: -12px 0px 0px -12px;
    text-align: center;
  }
}
