@use "sass:map";
@use "../../common/themeMap.module";
@use "../../common/typography";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2024. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-chip-base-styles {
  &::part(chip-div) {
    background-color: map.get(themeMap.$enchantedPalette, BLACK8P);
    border-radius: 100px;
    display:inline-flex;
    padding:4px;
    align-items: center;
    height: 24px;
  }

  &::part(chip-name) {
    @include typography.font-default;
    color: map.get(themeMap.$enchantedPalette, BLACK87P);
  }

  &::part(chip-count) {
    @include typography.font-default;
    background-color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
    padding:0px 4px 0px 4px;
    border-radius: 4px;
    margin-left:4px;
    color: map.get(themeMap.$enchantedPalette, WHITE100P);
    align-items: center;
  }

  &::part(chip-count-rtl) {
    @include typography.font-default;
    background-color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
    padding:0px 4px 0px 4px;
    border-radius: 4px;
    margin-right:4px;
    color: map.get(themeMap.$enchantedPalette, WHITE100P);
    align-items: center;
  }
}
