@use "../../common/typography";
@use "../../common/palette";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2025. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-header-layout-base-styles {
  /* for dx-search-center-layout */
  &::part(main-header) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 52px;
    flex-wrap: wrap;
  }

  &::part(chat-main-header) {
    @include typography.h6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 24px;
    flex-wrap: wrap;
    padding: 8px 12px;
    border-bottom: 1px solid palette.clr(light, border, primary);
  }
}
