@use "sass:map";
@use "../../common/palette";
@use "../../common/themeMap.module";
@use "../../common/typography";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2024, 2025. All Rights Reserved. *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-input-textfield-base-styles {
  & {
    width: 100%;
  }

  &::part(label) {
    @include typography.font-default;
    margin-bottom: 10px;
    display: block;
    color: palette.clr(light, text, secondary);
    font-weight: 600;
    font-size: 12px;
    font-style: normal;
  }

  &::part(input) {
    @include typography.font-default;
    color: palette.clr(light, text, primary);
    background-color: palette.clr(light, background, paper);
    display: block;
    width: 100%;
    border: 1px solid palette.clr(light, action, disabled);
    padding: 7px 8px;
    height: 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  }

  &::part(input)::placeholder {
    @include typography.font-default;
    color: palette.clr(light, text, hint);
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
  }
  &::part(input):hover{
    border-radius: 2px;
    border: 1px solid palette.clr(light, action, active);
  }
  &::part(input):focus{
    border-radius: 4px;
    border: 1px solid map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
    outline: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06) 1px solid;  
  }

  &::part(div) {
    width: 100%;
    position: relative;
  }

  &::part(icon-clear),
  &::part(icon-clear-rtl) {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 8px;
    cursor: pointer;
  }

  &::part(icon-clear) {
    right: 8px;
    margin-right: 36px;
  }

  &::part(icon-clear-rtl) {
    left: 8px;
    margin-left: 36px;
  }

  &::part(icon-action),
  &::part(icon-action-rtl) {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 8px;
    cursor: pointer;
  }

  &::part(icon-action) {
    right: 24px;
  }

  &::part(icon-action-rtl) {
    left: 24px;
  }

  &::part(icon-action-disabled) {
    opacity: 0.5;
    pointer-events: none;
  }

  &::part(input-icon-clear) {
    padding-right: 30px;
    width: calc(100% - 56px);
  }

  &::part(input-icon-clear-rtl) {
    padding-left: 30px;
    width: calc(100% - 56px);
  }

  &::part(input-icon-both) {
    padding-right: 54px;
    width: calc(100% - 80px);
  }

  &::part(input-icon-both-rtl) {
    padding-left: 54px;
    width: calc(100% - 80px);
  }
}
