/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2025. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-list-base-styles {
  &::part(unordered-list) {
    padding-top: 4px;
    padding-bottom: 4px;
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
    outline: 0px;
  }
}
