@use "sass:map";
@use "../../common/palette";
@use "../../common/themeMap.module";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2025. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-menu-base-styles {
  &::part(menu-root) {
    position: fixed;
    z-index: 1300;
    inset: 0px;
  }

  &::part(backdrop) {
    opacity: 1;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
  }

  &::part(paper-root) {
    opacity: 1;
    transform: none;
    transition: opacity 228ms cubic-bezier(0.4, 0, 0.2, 1), transform 152ms cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: 0px 0px;
    display: flex;
    flex-direction: column;
    background-color: palette.clr(light, background, paper);
    color: palette.clr(light, text, primary);
    box-shadow: #{map.get(themeMap.$enchantedPalette, shadows2)};
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    min-width: 16px;
    min-height: 16px;
    max-width: calc(100% - 32px);
    max-height: calc(100% - 32px);
    width: 100px;
    border-radius: 4px;
    outline: 0px;
    padding: 0px;
  }
}
