@use "sass:map";
@use "../../common";
@use "../../common/palette";
@use "../../common/themeMap.module";
@use "../../common/typography";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2025. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-panel-base-styles {
  --panel-margin-top: -12px;
  --panel-container-margin-top: 0px;
  --panel-container-min-height: calc(100vh - 131px);
  --panel-content-max-height: calc(100vh - 207px);
  --drawer-height: calc(100vh - 207px);

  margin-top: var(--panel-margin-top);

  // Styles if Position: right
  &[position="right"][open]::part(panel-container) {
    transform: translateX(0);
  }

  &[position="right"]::part(panel-container) {
    position: absolute;
    right: 0;
    left: auto;
    width: 300px;
    height: var(--drawer-height);
    transform: translateX(150%);
  }

  // Styles if Position: left
  &[position="left"][open]::part(panel-container) {
    transform: translateX(0);
  }

  &[position="left"]::part(panel-container) {
    position: absolute;
    left: 0;
    right: auto;
    width: 300px;
    height: var(--drawer-height);
    transform: translateX(-150%);
  }

  &::part(panel-container) {
    position: absolute;
    flex-grow: 1;
    background-color: palette.clr(light, background, default);
    width: 300px;
    display: flex;
    height: 100%;
    flex-direction: column;
    z-index: 1400;
    min-height: var(--panel-container-min-height);
    margin-top: var(--panel-container-margin-top);
  }

  &::part(panel-header) {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid map.get(themeMap.$enchantedPalette, BLACK32P);
    align-items: center;
    gap: 8px;
    width: initial;
  }

  &::part(panel-title) {
    @include typography.subtitle1;
    color: map.get(themeMap.$enchantedPalette, BLACK87P);
    flex-grow: 1;
    text-align: left;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div[slot=content] {
    background-color: palette.clr(light, background, default) !important;
  }

  &::part(panel-content) {
    padding: 12px;
    overflow: auto;
    flex: 1;
    max-height: var(--panel-content-max-height);
    flex-grow: 1;
    background-color: palette.clr(light, background, default) !important;
    position: relative;
  }

  &::part(close-icon) {
    border: none;
    border-radius: 2px;
    padding: 6px;
  }

  &::part(button-enchanted-text) {
    @include common.button;
    border: none !important;
    padding: 6px 6px !important;
    background-color: palette.clr(light, background, default) !important;
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
  }

  &::part(button-enchanted-text-focused) {
    @include common.dx-button-focused;
    @include common.button;
    border: none;
    background-color: palette.clr(light, background, default) !important;
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
    padding: 6px !important;
  }

  &::part(button-enchanted-text):hover {
    border: none !important;
    background-color: palette.clr(light, action, hover) !important;
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
    padding: 6px !important;
  }

  &::part(button-enchanted-text):active {
    @include common.dx-button-focused;
    border: none !important;
    background-color: palette.clr(light, action, hover) !important;
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
    padding: 6px !important;
  }
}
