@use "sass:map";
@use "../../common/palette";
@use "../../common/themeMap.module";
@use "../../common/typography";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2025. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-snackbar-base-styles {
  &::part(snackbar-container) {
    display: flex;
    background-color: palette.clr(dark, background, dark);
    color: white;
    align-items: flex-start;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear, transform 0.3s ease-out;
    transition-delay: 0s;
    box-shadow: map.get(themeMap.$enchantedPalette, shadows6);
    max-width: 480px;
    margin-bottom: 5px;
  }

  &::part(snackbar-message) {
    @include typography.body2;
    flex-grow: 1;
    text-align: left;
    word-break: break-word;
    white-space: pre-line;
    padding: 2px 0px;
  }

  &::part(snackbar-icon-container) {
    position: relative;
    height: 16px;
    width: 16px;
    display: flex;
    padding: 2px 0px;
    align-items: flex-end;
  }

  &::part(snackbar-icon) {
    height: 16px;
    width: 16px;
    align-items: center;
    position: absolute;
  }

  &::part(snackbar-progress) {
    margin: -10px;
  }

  &::part(icon-info) {
    fill: palette.clr(dark, info, inverse);
  }

  &::part(icon-warning) {
    fill: palette.clr(dark, warning, inverse);
  }

  &::part(icon-success) {
    fill: palette.clr(dark, success, inverse);
  }

  &::part(icon-error) {
    fill: palette.clr(dark, error, inverse);
  }

  div[slot="snackbar-buttons"] {
    display: flex;
    gap: 8px;
    flex-shrink: 0;
    align-items: center;
    height: 20px;

    dx-button {
      height: 20px;
      &::part(button-enchanted-text-inverse), &::part(button-enchanted-text-focused-inverse) {
        border-radius: 2px !important;
        @include typography.subtitle2;
        padding: 2px 4px;
      }
      &::part(button-enchanted-text-focused-inverse) {
        border-radius: 2px;
        outline: 2px solid clr(dark, action, focusInverse);
        outline-offset: 1px;
      }
    }
  }

  &::part(action) {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    flex: 0 0 auto;
    padding: 8px 12px;
  }
}
