@use "sass:map";
@use "../../common";
@use "../../common/palette";
@use "../../common/themeMap.module";
@use "../../common/typography";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2024, 2025. All Rights Reserved. *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-table-pagination-base-styles {
  &::part(container) {
    @include typography.body2;
    color: palette.clr(light, text, primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 12px;
    min-height: 28px;
    padding: 0px;
    position: relative;
  }

  &::part(rows-section),
  &::part(pages-section) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &::part(rows-description),
  &::part(pages-description) {
    @include typography.body2;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &::part(pages-nav-button) {
    padding-inline-end: 4px;
  }

  &::part(rows-description) {
    margin-inline-start: 12px;
  }

  &::part(pages-description) {
    margin-inline-start: 4px;
  }

  &::part(div) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  /* styles for text variant of dx-button */
  &::part(button-enchanted-text) {
    @include common.button;
    border: none !important;
    padding: 6px 6px !important;  
    background-color: palette.clr(light, background, paper);
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
  }
  &::part(button-enchanted-text-disabled) {
    @include common.button-disabled;
    background-color: palette.clr(light, background, paper);
    border: none;
    padding: 6px !important;  
  }
  &::part(button-enchanted-text-focused) {
    @include common.dx-button-focused;
    @include common.button;
    border: none;
    background-color: palette.clr(light, background, paper);
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06);
    padding: 6px !important;    
  }
  &::part(button-enchanted-text):hover {
    border: none !important;
    background-color: palette.clr(light, action, hover);
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06); 
    padding: 6px !important;    
  }
  &::part(button-enchanted-text):active {
    @include common.dx-button-focused;
    border: none !important;
    background-color: palette.clr(light, action, hover);
    color: map.get(themeMap.$enchantedPalette, HCLSOFTWAREBLUE06); 
    padding: 6px !important;    
  }

  &::part(pagination-select-button),
  &::part(pagination-select-button-outlined),
  &::part(pagination-select-button-outlined-focused),
  &::part(pagination-select-button-contained-focused) {
    border-radius: 2px;
    height: 28px !important;
    padding: 1px 7px !important;
  }

  &::part(pagination-select-div) {
    margin-bottom: 4px !important;
    margin-top: 4px !important;
  }
}
