@use "../../common/palette";
@use "../../common/typography";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2025. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-tooltip-base-styles {
  &::part(tooltip-root) {
    position: relative;
    display: inline-block;
  }
  &::part(tooltip-text) {
    box-sizing: border-box;
    color: palette.clr(light, text, tertiary1);
    position: fixed;
    border-radius: 2px;
    background-color: palette.clr(dark, background, dark);
    @include typography.caption;
    padding: 5px 8px;
    z-index: 9999;
  }
  &::part(tooltip-medium) {
    @include typography.body2;
    padding: 8px;
  }
  &::part(tooltip-multi-line) {
    width: max-content;
    height: max-content;
    overflow-wrap: break-word;
  }
}
