@use "../../common/palette";

/*
 ********************************************************************
 * Licensed Materials - Property of HCL                             *
 *                                                                  *
 * Copyright HCL Technologies Ltd. 2025. All Rights Reserved.       *
 *                                                                  *
 * Note to US Government Users Restricted Rights:                   *
 *                                                                  *
 * Use, duplication or disclosure restricted by GSA ADP Schedule    *
 ********************************************************************
*/

@mixin dx-toggle-button-base-styles {
  &::part(badge-dot) {
    border: 2px solid palette.clr('light', 'action', 'selected');
    border-radius: 10px;
    background-color: palette.clr('light', 'action', 'selected');
    position: absolute;
    right: 6px;
    top: 6px;
    height: 8px;
    width: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &::part(toggle-off-single-button) {
    border: 1px solid  palette.clr('light', 'border', 'secondary');
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &::part(toggle-on-single-button) {
    border: 1px solid palette.clr('light', 'action', 'selected');
    background-color: palette.clr('light', 'action', 'selectedOpacity');
    color: palette.clr('light', 'action', 'selected');
    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
